<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <footer>
        <div class="outer">
    <div class="footer">
        <div class="footer-div">
            <img src="assets/footer-img.png">
            <p>At Luxora Real Estate, we believe luxury living is more than a home- it's a lifestyle. We help you find exceptional properties in the world's most desirable locations.</p>
            <ul>
                <li><i class="fa-solid fa-location-dot"></i> &nbsp;&nbsp;&nbsp;&nbsp;123 Luxury Avenue, Suite 500<br>New York, NY 10001, USA</li>
                <li><i class="fa-solid fa-phone"></i> &nbsp;&nbsp;&nbsp;&nbsp;+1(212)555-7890</li>
                <li><i class="fa-solid fa-envelope"></i> &nbsp;&nbsp;&nbsp;&nbsp;info@luxorarealestate.com</li>
                <li><i class="fa-sharp fa-regular fa-clock"></i> &nbsp;&nbsp;&nbsp;&nbsp;Mon - Sat: 9:00 AM - 6:00 PM</li>
                <li><i class="fa-regular fa-globe"></i> &nbsp;&nbsp;&nbsp;&nbsp;www.luxorarealestate.com</li>
            </ul>
            </div>
        <div  class="footer-div">
            <h3>QUICK LINKS</h3>
            <ul>
            <li><a href="index.html"><i class="fa-solid fa-greater-than"></i>&nbsp;&nbsp;&nbsp;&nbsp;Home</a></li>
            <li><a href="#"><i class="fa-solid fa-greater-than"></i>&nbsp;&nbsp;&nbsp;&nbsp;Our Properties</a></li>
            <li><a href="#"><i class="fa-solid fa-greater-than"></i>&nbsp;&nbsp;&nbsp;&nbsp;About Us</a></li>
            <li><a href="#"><i class="fa-solid fa-greater-than"></i>&nbsp;&nbsp;&nbsp;&nbsp;Why Trust Us</a></li>
            <li><a href="#"><i class="fa-solid fa-greater-than"></i>&nbsp;&nbsp;&nbsp;&nbsp;Testimonials</a></li>
            <li><a href="#"><i class="fa-solid fa-greater-than"></i>&nbsp;&nbsp;&nbsp;&nbsp;Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-div">
            <h3>OUR PROPERTIES</h3>
            <ul>
                <li><i class="fa-solid fa-greater-than"></i>&nbsp;&nbsp;&nbsp;&nbsp;Apartments</li>
                <li><i class="fa-solid fa-greater-than"></i>&nbsp;&nbsp;&nbsp;&nbsp;Villas</li>
                <li><i class="fa-solid fa-greater-than"></i>&nbsp;&nbsp;&nbsp;&nbsp;Penthouses</li>
                <li><i class="fa-solid fa-greater-than"></i>&nbsp;&nbsp;&nbsp;&nbsp;Houses</li>
                <li><i class="fa-solid fa-greater-than"></i>&nbsp;&nbsp;&nbsp;&nbsp;Commercial</li>
                <li><i class="fa-solid fa-greater-than"></i>&nbsp;&nbsp;&nbsp;&nbsp;Off-Plan Properties</li>
            </ul>
        </div>
        <div class="footer-div">
            <h3>FOLLOW US</h3>
            <P>Follow us on social media for the latest updates and exclusive property listings.</P>
            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <hr>
    <p class="last-para">&#xA9;2024 Luxora Real Estate. All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>Privacy Policy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>Terms & Conditions</a></p>
    </div>
    </footer>
</body>
</html>